html,
body {
  height: 100%;
}
body {
  margin-left: auto;
  margin-right: auto;
  font-family: "OpenSans-Regular", "Arial", sans-serif;
  font-weight: normal;
  font-size: 15px;
  color: #212121;
}
img {
  width: 100%;
  height: 100%;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
picture {
  margin: 0;
  padding: 0;
  border: 0;
}
svg {
  fill: currentColor;
  width: 100%;
}
.none {
  display: none;
}
.visualy-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container-fluid {
  max-width: 1200px;
}
@font-face {
  font-family: "OpenSans-Regular";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/OpenSans-Light.woff2") format("woff2"), url("../fonts/OpenSans-Light.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "OpenSans-Bold";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff");
}
.page {
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  font-family: "OpenSans-Regular", "Arial", sans-serif;
  font-weight: normal;
  font-size: 15px;
  color: #212121;
}
.to-top {
  position: fixed;
  bottom: 10px;
  right: 20px;
  display: none;
  font-size: 40px;
  color: #3949ab;
  cursor: pointer;
  z-index: 99;
}
.to-top:hover {
  color: #00897b;
}
@media (min-width: 768px) {
  .to-top {
    font-size: 50px;
  }
}
@media (min-width: 1200px) {
  .to-top {
    font-size: 60px;
  }
}
.button {
  color: #212121;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  padding: 12px 14px;
  border: 2px solid #212121;
  background-color: transparent;
  transition: 0.3s;
}
@media (min-width: 1200px) {
  .button {
    padding: 18px 20px;
    font-size: 20px;
  }
}
.button--color--white {
  color: #ffffff;
  border-color: #ffffff;
}
.button--color--cyan {
  color: #ffffff;
  border-color: #00897b;
  background-color: #00897b;
}
.button:hover {
  transform: scale(1.05, 1.05);
  cursor: pointer;
}
.button--active {
  color: #ffffff;
  background-color: #00897b;
  border-color: #00897b;
  outline-color: inherit;
}
.button:focus {
  outline: 2px #00897b;
}
.title {
  margin-bottom: 35px;
  font-family: "OpenSans-Bold";
  font-size: 25px;
  text-transform: capitalize;
  text-align: center;
}
@media (min-width: 768px) {
  .title {
    font-size: 30px;
  }
}
.title--color--white {
  color: #ffffff;
}
.subtitle {
  margin-bottom: 25px;
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  text-align: center;
}
.text {
  margin: 0;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
}
.center {
  display: flex;
  justify-content: center;
}
.logo {
  width: 98px;
  height: 110px;
  display: block;
}
.menu {
  flex-direction: column;
  display: flex;
  width: 200px;
  padding-top: 30px;
  font-weight: 600;
  font-size: 18px;
}
@media (min-width: 768px) {
  .menu {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-top: 0;
    font-size: 20px;
  }
}
.menu__item {
  padding-top: 10px;
}
@media (min-width: 768px) {
  .menu__item {
    padding-top: 0px;
  }
}
.menu__link {
  padding-bottom: 5px;
  color: #212121;
  transition: 0.3s;
}
.menu__link:hover {
  color: #212121;
  border-bottom: 1px solid #212121;
}
.menu__link--active {
  color: #00897b;
  border-bottom: 0;
}
.button-menu {
  display: block;
  padding-top: 30px;
  color: #212121;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  outline: transparent;
}
.button-menu:hover {
  color: #00897b;
}
@media (min-width: 768px) {
  .button-menu {
    display: none;
  }
}
.button-menu:focus {
  outline: 1px dotted transparent;
}
.fa-times,
.fa-bars {
  display: none;
  font-size: 40px;
}
.promo {
  padding-top: 70px;
  padding-bottom: 90px;
  color: #ffffff;
  text-align: center;
  background: url(../img/header-bg.webp), rgba(0, 0, 0, 0.7);
  background-blend-mode: color;
  background-size: cover;
}
@media (min-width: 768px) {
  .promo {
    padding-top: 170px;
    padding-bottom: 180px;
  }
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .promo {
    background: url(../img/header-bg@2x.webp), rgba(0, 0, 0, 0.7);
    background-size: cover;
  }
}
.promo__title {
  margin-bottom: 30px;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 40px;
  line-height: 1;
}
@media (min-width: 768px) {
  .promo__title {
    font-size: 50px;
  }
}
@media (min-width: 1200px) {
  .promo__title {
    font-size: 60px;
  }
}
.promo__slogan {
  margin-bottom: 50px;
  font-size: 20px;
  line-height: 1;
}
@media (min-width: 768px) {
  .promo__slogan {
    margin-bottom: 105px;
    font-size: 22px;
  }
}
.promo__button {
  width: 180px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.about {
  padding-top: 50px;
  padding-bottom: 50px;
}
@media (min-width: 768px) {
  .about {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media (min-width: 1200px) {
  .about {
    padding-top: 125px;
    padding-bottom: 125px;
  }
}
.about__items {
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .about__items {
    margin-top: 80px;
  }
}
@media (min-width: 1200px) {
  .about__items {
    margin-top: 115px;
  }
}
.about__picture-box {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 20px;
  width: 40px;
  height: 40px;
}
@media (min-width: 768px) {
  .about__picture-box {
    margin-top: 0px;
    margin-bottom: 30px;
    width: 50px;
    height: 50px;
  }
}
@media (min-width: 1200px) {
  .about__picture-box {
    margin-bottom: 35px;
    width: 62px;
    height: 62px;
  }
}
.services {
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: #e4fdf9;
}
@media (min-width: 768px) {
  .services {
    padding-top: 100px;
    padding-bottom: 80px;
  }
}
@media (min-width: 1200px) {
  .services {
    padding-top: 125px;
    padding-bottom: 100px;
  }
}
.services__cards {
  margin-top: 50px;
}
@media (min-width: 768px) {
  .services__cards {
    margin-top: 80px;
  }
}
@media (min-width: 1200px) {
  .services__cards {
    margin-top: 115px;
  }
}
.services__card {
  margin-bottom: 20px;
}
@media (min-width: 1200px) {
  .services__card {
    margin-bottom: 30px;
  }
}
.card {
  width: 288px;
  padding: 60px 35px 50px;
  background-color: #ffffff;
  border: 0;
  transition: 0.3s;
}
.card:hover {
  color: #ffffff;
  background-color: #00897b;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.35);
  cursor: pointer;
}
.card__img-box {
  display: block;
  width: 62px;
  height: 62px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/icon-smartphone.webp);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: 10px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .card__img-box {
    background-image: url(../img/icon-smartphone@2x.webp);
  }
}
.card__body {
  padding: 0;
  padding-top: 35px;
}
.card-text {
  padding-bottom: 50px;
}
.card__button {
  display: block;
  width: 155px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 12px;
  padding-left: 12px;
  border-radius: 0;
}
.card__button:hover {
  border-color: #ffffff;
}
.card:hover .card__button {
  color: #ffffff;
  border-color: #ffffff;
}
.card:hover .card__img-box {
  background-image: url(../img/smartphone.webp);
}
.portfolio {
  padding-top: 50px;
  padding-bottom: 70px;
}
@media (min-width: 768px) {
  .portfolio {
    padding-top: 100px;
    padding-bottom: 120px;
  }
}
@media (min-width: 1200px) {
  .portfolio {
    padding-top: 125px;
    padding-bottom: 135px;
  }
}
.portfolio__galery-buttons {
  margin-top: 30px;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .portfolio__galery-buttons {
    margin-top: 60px;
    margin-bottom: 70px;
  }
}
@media (min-width: 1200px) {
  .portfolio__galery-buttons {
    margin-top: 112px;
    margin-bottom: 120px;
  }
}
.portfolio__button {
  width: 180px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  border-color: #00897b;
}
@media (min-width: 768px) {
  .portfolio__button {
    width: 150px;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width: 1200px) {
  .portfolio__button {
    width: 179px;
  }
}
.portfolio__galery {
  display: flex;
  justify-content: center;
}
.portfolio__img-block {
  position: relative;
  max-width: 500px;
  margin-bottom: 20px;
}
.portfolio__img-block::before {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 15px;
  content: "";
  width: calc(100% - 30px);
  height: 100%;
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.5);
}
.portfolio__img-block:hover {
  cursor: pointer;
}
.portfolio__img-block:hover::before {
  opacity: 1;
}
.portfolio__button-block {
  margin-top: 50px;
}
@media (min-width: 768px) {
  .portfolio__button-block {
    margin-top: 70px;
  }
}
@media (min-width: 1200px) {
  .portfolio__button-block {
    margin-top: 125px;
  }
}
.portfolio__button-view {
  width: 224px;
}
.pricing {
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: #f0f1f1;
}
@media (min-width: 768px) {
  .pricing {
    padding-top: 100px;
    padding-bottom: 80px;
  }
}
@media (min-width: 1200px) {
  .pricing {
    padding-top: 125px;
    padding-bottom: 100px;
  }
}
.pricing__items {
  padding-top: 50px;
}
@media (min-width: 768px) {
  .pricing__items {
    padding-top: 100px;
  }
}
@media (min-width: 1200px) {
  .pricing__items {
    padding-top: 125px;
  }
}
.pricing__item {
  margin-bottom: 30px;
}
.price {
  width: 100%;
  max-width: 385px;
  text-align: center;
  background-color: #ffffff;
  transition: 0.3s;
}
.price:hover {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.35);
  cursor: pointer;
}
.price__button:hover {
  color: #ffffff;
  background-color: #00897b;
  border-color: #00897b;
  outline: 2px #00897b;
}
.price__head {
  position: relative;
  padding-top: 47px;
  padding-bottom: 65px;
  color: #ffffff;
  background-color: #3949ab;
  overflow: hidden;
}
.price__head::after {
  content: "";
  position: absolute;
  width: 110%;
  height: 100px;
  left: 0;
  bottom: -80px;
  background-color: #fff;
  transform: rotate(175deg);
}
.price__title {
  font-family: "OpenSans-Regular";
  font-size: 25px;
  line-height: 1;
}
.price__subtext {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 17px;
  line-height: 50px;
  vertical-align: middle;
}
.price__suptext {
  font-size: 25px;
  line-height: 25px;
  vertical-align: middle;
}
.price__body {
  width: 180px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  padding-bottom: 62px;
}
.price__text {
  margin: 0;
  padding-top: 33px;
  padding-bottom: 10px;
  font-family: "Open Sans";
  font-weight: 300;
  border-bottom: 1px solid #bfbfbf;
}
.price__text-big {
  font-size: 50px;
  line-height: 1;
}
.price__button {
  display: block;
  margin-top: 63px;
}
.team {
  padding-top: 50px;
  padding-bottom: 50px;
}
@media (min-width: 768px) {
  .team {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media (min-width: 1200px) {
  .team {
    padding-top: 125px;
    padding-bottom: 125px;
  }
}
.swiper-container {
  width: 90%;
  margin-top: 50px;
}
@media (min-width: 768px) {
  .swiper-container {
    margin-top: 80px;
  }
}
@media (min-width: 1200px) {
  .swiper-container {
    margin-top: 125px;
  }
}
.swiper-wrapper {
  padding-bottom: 50px;
}
.swiper-pagination {
  display: flex;
  justify-content: space-between;
  left: auto !important;
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
}
.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background-color: #00897b;
  opacity: 1;
  border-radius: 50%;
}
.swiper-pagination-bullet-active {
  background-color: #3949ab;
}
.swiper-card {
  margin-bottom: 30px;
  padding: 30px;
}
@media (min-width: 1200px) {
  .swiper-card {
    margin-bottom: 90px;
    padding: 0;
  }
}
.swiper-card__img {
  border-radius: 8px;
  overflow: hidden;
}
.swiper-card__text {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 35px;
  text-align: center;
}
.swiper-card__caption {
  margin: 0;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 20px;
}
.swiper-card__text-body {
  margin-top: 15px;
  margin-bottom: 30px;
  font-family: "OpenSans-Regular";
}
.swiper__social {
  width: 140px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .swiper__social {
    width: 180px;
  }
}
@media (min-width: 1200px) {
  .swiper__social {
    width: 270px;
  }
}
.fa-facebook,
.fa-twitter,
.fa-comments,
.fa-dribbble {
  font-size: 20px;
  line-height: 30px;
  color: #00897b;
}
@media (min-width: 1200px) {
  .fa-facebook,
  .fa-twitter,
  .fa-comments,
  .fa-dribbble {
    font-size: 30px;
    line-height: 50px;
  }
}
.social {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.social__link {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background-color: #f0f1f1;
}
.social__link:hover {
  background-color: #3949ab;
}
@media (min-width: 1200px) {
  .social__link {
    width: 50px;
    height: 50px;
  }
}
.social__link:hover > .fa {
  color: #ffffff;
}
.blog {
  padding-top: 50px;
  padding-bottom: 70px;
  background-color: #e4fdf9;
}
@media (min-width: 768px) {
  .blog {
    padding-top: 100px;
    padding-bottom: 120px;
  }
}
@media (min-width: 1200px) {
  .blog {
    padding-top: 125px;
    padding-bottom: 135px;
  }
}
.blog__items {
  margin-top: 50px;
}
@media (min-width: 768px) {
  .blog__items {
    margin-top: 80px;
  }
}
@media (min-width: 1200px) {
  .blog__items {
    margin-top: 125px;
  }
}
.blog__item {
  display: flex;
}
.blog__caption {
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 25px;
  text-transform: capitalize;
  color: #212121;
  cursor: pointer;
}
.blog__caption:hover {
  color: #00897b;
}
@media (min-width: 768px) {
  .blog__caption {
    margin-top: 20px;
  }
}
@media (min-width: 1200px) {
  .blog__caption {
    margin-top: 60px;
  }
}
.fa-calendar,
.fa-file-o {
  margin-right: 5px;
  font-size: 12px;
  line-height: 15px;
  color: #212121;
}
@media (min-width: 768px) {
  .fa-calendar,
  .fa-file-o {
    margin-right: 15px;
    font-size: 17px;
  }
}
.blog__date {
  margin-right: 10px;
  font-size: 13px;
}
@media (min-width: 768px) {
  .blog__date {
    margin-right: 45px;
    font-size: 15px;
  }
}
.blog__category {
  font-size: 13px;
}
@media (min-width: 768px) {
  .blog__category {
    font-size: 15px;
  }
}
.blog__text {
  margin: 0;
  margin-top: 27px;
  margin-bottom: 50px;
}
.reverse {
  flex-direction: row-reverse;
}
@media (min-width: 768px) {
  .blog__button {
    margin-top: 70px;
  }
}
@media (min-width: 1200px) {
  .blog__button {
    margin-top: 125px;
  }
}
.contact {
  color: #ffffff;
  padding-top: 50px;
  padding-bottom: 40px;
  background: url(../img/contact-bg.webp), rgba(0, 0, 0, 0.8);
  background-blend-mode: color;
  background-size: cover;
}
@media (min-width: 768px) {
  .contact {
    padding-top: 100px;
    padding-bottom: 90px;
  }
}
@media (min-width: 1200px) {
  .contact {
    padding-top: 125px;
    padding-bottom: 135px;
  }
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .promo {
    background: url(../img/contact-bg@2x.webp), rgba(0, 0, 0, 0.8);
    background-size: cover;
  }
}
.contact__items {
  margin-top: 70px;
}
@media (min-width: 1200px) {
  .contact__items {
    margin-top: 100px;
  }
}
.contact__item {
  max-width: 280px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1200px) {
  .contact__item {
    margin-bottom: 80px;
  }
}
.contact__img {
  position: relative;
  width: 80px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  background-color: #3949ab;
  border-radius: 50%;
}
@media (min-width: 1200px) {
  .contact__img {
    width: 106px;
    height: 106px;
  }
}
.contact__text {
  display: block;
  margin-top: 20px;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 20px;
  text-align: center;
}
.fa-map-marker,
.fa-phone,
.fa-envelope-o {
  position: absolute;
  left: 50%;
  top: 50%;
  color: #ffffff;
  font-size: 40px;
  transform: translate(-50%, -50%);
}
@media (min-width: 1200px) {
  .fa-map-marker,
  .fa-phone,
  .fa-envelope-o {
    font-size: 62px;
  }
}
.contact__link {
  color: #ffffff;
}
.contact__link:hover {
  color: #00897b;
}
.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}
@media (min-width: 768px) {
  .form {
    justify-content: space-between;
  }
}
.form__item {
  width: 100%;
  margin-bottom: 30px;
  padding: 30px 25px;
  color: #212121;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  border-radius: 10px;
}
@media (min-width: 768px) {
  .form__item {
    width: calc(50% - 10px);
  }
}
.form__textarea {
  height: 200px;
  width: 100%;
}
@media (min-width: 1200px) {
  .form__textarea {
    height: 325px;
  }
}
.form__button {
  width: 220px;
  padding-top: 18px;
  padding-bottom: 18px;
  transition: 0.3s;
}
@media (min-width: 768px) {
  .form__button {
    margin-left: auto;
  }
}
.form__button:hover {
  transform: scale(1.05, 1.05);
  cursor: pointer;
}
::-webkit-input-placeholder {
  color: #212121;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  text-transform: capitalize;
}
::-moz-placeholder {
  color: #212121;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  text-transform: capitalize;
}
:-moz-placeholder {
  color: #212121;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  text-transform: capitalize;
}
/* Firefox 18- */
:-ms-input-placeholder {
  color: #212121;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  text-transform: capitalize;
}
.footer {
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer__text {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}
@media (min-width: 768px) {
  .footer__text {
    font-size: 20px;
  }
}
